service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    match /users/{uid} {
      function isValidUser() {
        return request.resource.data.size() == 2
          && request.resource.data.displayName is string
          && request.resource.data.photoURL is string;
      }

      allow read;
      allow write: if request.auth.uid == uid && isValidUser();
    }

    match /posts/{postId} {
      function isValidPost() {
        return request.resource.data.size() == 3
          && request.resource.data.user is string
          && request.resource.data.user == request.auth.uid
          && request.resource.data.title is string
          && request.resource.data.title.size() <= 20
          && request.resource.data.content is string
          && request.resource.data.content.size() <= 1000;
      }

      allow read;
      allow write: if isSignedIn() && isValidPost();
    }
  }
}
