service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    match /users/{uid} {
      function isValidUser() {
        return request.resource.data.size() == 2
          && request.resource.data.displayName is string
          && request.resource.data.photoURL is string;
      }

      allow read;
      allow write: if request.auth.uid == uid && isValidUser();
    }

    match /posts/{postId} {
      function isValidPost(post) {
        return post.size() == 5
          && post.user is string
          && post.user == request.auth.uid
          && post.title is string
          && post.title.size() <= 20
          && post.content is string
          && post.content.size() <= 1000
          && post.createdAt == request.time
          && post.updatedAt == request.time;
      }

      allow read;
      allow create: if isSignedIn() && isValidPost(request.resource.data);
    }
  }
}
